body {
  margin: 0;
  min-width: 250px;
  background-color: #f44336;
}

.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
}	
.headerT {
  background-color: #f44336;
  color: white;
}	



img{
	width: 100%;	
}

/* The content div soround
  * every thing in the body
  * The css make content  smaller than the body itself
  * and centret.
  */
#content {
	width: 75%;
	margin: auto;
}

#bleDeviceList{
	
}	
#messageInput{
	width: 30%;
	margin: auto;
}
#list{
	background-color: gray;
}

/* width will be 100% of content */
#refreshButton{
	width: 25%;
}
#sendButton{
	width: 25%;	
}

#parent
{
	position: relative;
	top: 0;
	left: 0;
}
#Radar
{
	position: absolute;
	top: 30%;
	left: 25%;
	z-index: 2;
	width: 5%;
	
}
#Radar2
{
	position: absolute;
	top: 68%;
	left: 75%;
	z-index: 3;
	width: 5%;
	
}
#Butik
{
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
}